body {
    margin: 0;
    width: fit-content;
    background-image: url(images/brickwall.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    font-family: "Frijole", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
}

.top {
    color: white;
    font-family: sans-serif; 
    display: flex; 
    padding-top: 1em;
    padding-bottom: .5em;
}

.top h1 {
    font-size: 16pt;
    padding-left: 25em;
}


.section {
    position: relative;
    margin: 0;
    display: flex;
}

.section img {
    width: 25%;
    padding-left: 40em;
}

/*positioning the event time text - rotate a little bit*/
.section h2 {
    font-family: sans-serif;
    font-size: 20pt;
    position: absolute;
    color: #f48c04;
    bottom: 0;
    left: 230px;
    transform: rotate(-20deg);
}

/*I put the text in a list and position in the middle*/
.container-text {
    display: flex;
    padding-left: 30em;
}

.content {
    margin: 0;
    font-size: 50pt;
}

.content li {
    color: white;
    font-size: inherit;
    padding-bottom: 0;
}

/*different color for one word in the "title"*/
.content .orange {
    color: #f48c04;
    font-size: inherit;
}

/*I was trying to get the list contents closer to each other but could..not..figure it out*/
footer {
    margin: auto;
    background: none;
    position: absolute;
    width: 100%;
    display: flexbox;
}

footer ul {
    width: auto;
    padding-top: 1em;
    padding-left: 14em;
}

footer ul li {
    margin: auto;
    float:left;
    font-size: 14pt;
    padding-bottom: .5em;
}

/*positioning the paragraphs in the list*/
.footer-list li p {
    margin: 0;
    color: white;
    vertical-align: middle;
    font-family: sans-serif;
    padding-top: 1em;
}

.footer-list a {
    margin: 0;
    vertical-align: middle;
}

.instagram {
    width: 15%;
    vertical-align: middle;
}

.facebook {
    width: 15%;
    vertical-align: middle;
}

/*a little hover effect for the instagram and facebook anchors - */
.instagram:hover {
    width: 16%;
}

.facebook:hover {
    width: 16%;
}